.navbar {
  position: fixed; /* deixa a caixa da nav fixa no topo */
  z-index: 1; /* deixa a navbar a cima do position relative */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.navbar__container {
  display: grid; /* trabalha com grid */
  grid-template-columns: 1fr 9fr; /* cria um template de 1 fracao (10% da tela)e 9 fracoes (90% da tela) */
  align-items: center; /* vai centralizar os elementos no centro */

  width: 100vw;
  height: 7.75rem;
  padding: 0 1rem;
}

.navbar__links {
  justify-self: end;
}

.navbar__links li {
  font-size: 0.875rem; /* 14/16 (16 da root) (14 do tamanho que eu quero) = 0.875rem */
  margin-right: 3rem; /* 48/16 para saber o valor em rem = 3rem */
  text-transform: capitalize;
}

.navbar__links a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.navbar__links a.active {
  color: var(--color-primary);
}

.navbar__links a:hover {
  color: var(--color-primary);
}
