@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  --color-primary: #FFC500;
  --default-padding: 1rem;

}

body {
  margin: 0;
  padding-top: 7.75rem;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar {
  position: fixed; /* deixa a caixa da nav fixa no topo */
  display: grid; /* trabalha com grid */
  grid-template-columns: 1fr 9fr; /* cria um template de 1 fracao (10% da tela)e 9 fracoes (90% da tela) */
  align-items: center; /* vai centralizar os elementos no centro */
  top: 0;
  left: 0;
  
  width: 100vw;
  height: 7.75rem;
  padding: 0 1rem;
  
  background-color: #000;
  color: #FFF;
}

.navbar__links {
  justify-self: end;
}

.navbar__links li {
  font-size: .875rem; /* 14/16 (16 da root) (14 do tamanho que eu quero) = 0.875rem */
  margin-right: 3rem; /* 48/16 para saber o valor em rem = 3rem */
  text-transform: capitalize;
}

.navbar__links a {
  font-weight: 300;
  color: #FFF;
  text-decoration: none;  
}

.navbar__links a:hover {
  color: var(--color-primary);
}

.logo-studion {
  font-size: 2.375rem;
  font-weight: 900;
  line-height: 1ch; /* relativa ao tamanho da altura do glifo 0 da fonte */
  text-transform: uppercase;
  text-align: right;
}

.logo-studion__subtitle {
  font-size: .875rem;
  font-weight: 300;

}

.copy--primary {
  color: var(--color-primary);
}

#slider {
  height: calc(100vh - 7.75rem); /* calc faz o calculo que voce quiser */
  padding: var(--default-padding);
  background-color: #000;
  background-image: url('./images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFF;
}